

header{
    background-color: gainsboro;
}

body {
    font-family: 'Georgia', serif; 
    color: #000000da;
    text-align: left;
    font-size: x-large; 
    
  
}

html{
    background-color: black;
    
}

h1{
    font-size: larger;
    align-self: left;
}

footer{
    background-color: grey;
}

btn:hover {
    background-color: grey
}
    
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colunas com largura igual */
    gap: 10px; /* Espaço entre os itens */
    padding: 10px;

    
}

.grid-item {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px  #ccc;
    font-size: 18px;
    border-radius: 10px;
    

    
}

img{
    width: 250px;
    height: 250;
    align-items: left;
    

}

button-container{
    background-color: #ccc;
    margin: 10px; 

}

btn{
    display: flex;
}

section {
    background-color: #ccc;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    
    
}

section a {
text-decoration: none;
color: #ffffff;
font-size: 1.5em;
padding: 10px;
display: inline-block;
}


section:nth-child(even) {
    background-color:grey
}


footer{
    background: gainsboro;
    text-align: center;
}

.section-transicao:hover section {
    filter: brightness(0.8);
}




@media (max-width: 480px) {
    body {
        grid-template-columns: 1fr;
    }
    
    header {
        font-size: 1.5em; 
    }
}
