* {
    box-sizing: border-box;
}

.menu {
    position: relative;
}

@media (max-width: 480px) {
    body {
        grid-template-columns: 1fr;
    }
    
    header {
        font-size: 1.5em; 
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    body {
        grid-template-columns: 1fr 1fr; 
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    body {
        grid-template-columns: 1fr 1fr 1fr; 
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    body {
        grid-template-columns: 1fr 1fr 1fr 1fr; 
    }
}

@media (min-width: 1441px) {
    body {
        grid-template-columns: repeat(5, 1fr);
    }
}

/* Media query para telas estreitas */
@media (max-width: 600px) {
    .menu ul {
        display: none; /* Esconde o menu por padrão */
        flex-direction: column; /* Organiza os itens verticalmente */
        position: absolute; /* Posiciona o menu abaixo do botão */
        background-color: #527E7F; /* Cor de fundo do menu */
        width: 100%; /* Largura total */
        z-index: 1; /* Garante que fique acima de outros elementos */
    }
    
    .menu ul li {
        text-align: center;
        margin: 0;
    }

    .menu ul li a {
        display: block;
        padding: 15px;
    }

    /* Mostra o botão para abrir o menu (hamburger) */
    .menu-toggle {
        display: block;
        width: 100%;
    }

    /* Quando o menu está ativo (dropdown aberto) */
    .menu.open ul {
        display: flex;
    }
}

@media (max-width: 768px) {
    .foto-bloco {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .foto-bloco {
        flex: 1 1 100%;
    }
}