* {
    margin: 0;
    padding: 0;
    
}
body {
    font-family: 'Georgia', serif; 
    background-color: #98ccc2;
    color: #1c0581da;
    text-align: center;
    font-size: x-large; 
  
}

header {
    background-image: url('images/header.jpg');
    padding: 150px 0;
    text-align: center;
    color: #dfdee4;
    font-size: xx-large; 
}

.overlay {
    background-color: rgba(255, 255, 255, 0.5);  
    color: rgb(25, 22, 168);
}

nav {
    background-color:#527E7F;
    font-size: x-large;
    padding: 20px 0;
  
} 

img {
    margin: 0 auto;
    padding: 20px;
}

.fotografias img {
    width: 609px;
}

.home img {
    width: 609px;
}

iframe{
    width: 700px;
    height: 450px;

}

table{
    border: #000000;
    background-color: rgb(230, 243, 255);
    margin: 0 auto;
    width: 30%;
}

li{
        color: rgb(50, 74, 168);
}

form {
    background-color: rgb(241, 236, 165);
    border: 2px solid #2001aa;
    padding: 20px;       
    margin-bottom: 20px;    
    border-radius: 10px;  
}

fieldset{
    border: 2px solid #2001aa;
    padding: 20px;       
    margin-bottom: 20px;    
    border-radius: 10px;  
    background-color: rgb(235, 246, 255);
    color: #2001aa;
    font-size: large; 

}


footer{
    background-color:#527E7F;

}

section {
    background-color: rgb(137, 196, 176);
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    
}

a:hover {
    background-color: #b1e5fa;
    color: black;
}


.foto {
    text-align: center; /* Centraliza o texto abaixo de cada imagem */
}

.foto img {
    max-width: 100%; /* Garante que as imagens não ultrapassem o container */
    height: auto; /* Mantém a proporção da imagem */
}


.fotografias {
    padding: 20px;
    border: 100px;
    border-radius: 40px;
    color: rgb(38, 48, 185);
    text-align: center;
    display: flex;

}


.iframeSpotify {
    width: 60%;
    height: 152px;
}

.frase-original {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.traducao {
    visibility: hidden;
    background-color: rgb(64, 181, 202);
    color: #333;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.5s;
    white-space: nowrap; /* Impede que a tradução quebre linhas */
}

.frase-original:hover .traducao {
    visibility: visible;
    opacity: 1;
}

.restaurantes{
    display: flex;
}

.galeria {
    display: flex;
    flex-wrap: wrap; /* Permite que as imagens se movam para a linha seguinte se o espaço não for suficiente */
    justify-content: center; /* Centraliza as imagens */
}

.foto {
    position: relative;
    margin: 10px; /* Espaço entre as fotos */
}

.imagem-com-info {
    width: 200px; /* Ajusta o tamanho da imagem conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
}

.info {
    visibility: hidden;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%; /* Coloca a mensagem acima da imagem */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.5s;
}

.foto:hover .info {
    visibility: visible;
    opacity: 1;
}

.aviao{
    display: flex;
}


li:nth-child(odd) {
    color:#f9f9f9
}

li:nth-child(even) {
    color: #4682B4; 
}


ul {
    list-style-type:circle;
    
   
}


ol {
    list-style-type: lower-roman; 
}

header h1 {
    text-transform: uppercase;
}

li {
    font-size: 2em;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 2px;
    font-size: 12px;
}

table thead {
    background-color: #4682B4;
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

td:nth-child(2) {
    font-style: italic;
}

td:nth-child(3) {
    text-align: center;
}


.zoom {
    cursor: zoom-in;
    transition: transform 0.3s ease; 
}


.zoom:hover {
    transform: scale(1.4); 

}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5em;
    padding: 10px;
    display: inline-block;
    transition: all 0.3s ease;
}

nav a:link {
    color: #ffffff;
}

nav a:visited {
    color: #dcdcdc;
}

nav a:hover {
    color: #57ffe3;
}

nav a:active {
    color: #4733ff;
}


nav a i {
    margin-right: 8px;
}


nav a:hover::before {
    content: "🏛️ ";
    transition: all 0.3s ease;
}

nav a:hover::after {
    content: " 🏛️";
    transition: all 0.3s ease;
}

/* Estilizar o menu */
nav {
    background-color: #527E7F;
    padding: 20px;
    text-align: center;
}

nav a:hover {
    background-color: #3c6566;
    color: #fff;
    border-radius: 10px;
}

.classe-home{
    background-color: #aaebe2;
}